<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.clockFormat" title="Clock Format">
        <settingConfig type="list">
            <listEntry value="0">12 Hour</listEntry>
            <listEntry value="1">24 Hour</listEntry>
            <listEntry value="2">System</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.showSeconds" title="Show Seconds">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showWeekNumber" title="Show Week Number">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.worldClockCount" title="World Clocks">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">One</listEntry>
            <listEntry value="2">Two</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.timezone1" title="Timezone 1">
        <settingConfig type="list">
            <listEntry value="0">New York</listEntry>
            <listEntry value="1">Los Angeles</listEntry>
            <listEntry value="4">Sao Paulo</listEntry>
            <listEntry value="6">London</listEntry>
            <listEntry value="7">Paris</listEntry>
            <listEntry value="17">Tokyo</listEntry>
            <listEntry value="19">Sydney</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.showWeatherChart" title="Weather Chart">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showTemperature" title="Temperature">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showPrecipitation" title="Precipitation">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showClouds" title="Clouds">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.temperatureUnit" title="Temp Unit">
        <settingConfig type="list">
            <listEntry value="0">Celsius</listEntry>
            <listEntry value="1">Fahrenheit</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ringLayout" title="Ring Layout">
        <settingConfig type="list">
            <listEntry value="0">All 3 Rings</listEntry>
            <listEntry value="1">2 Rings</listEntry>
            <listEntry value="2">Off</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.theme" title="Theme">
        <settingConfig type="list">
            <listEntry value="0">Dark</listEntry>
            <listEntry value="1">Warm</listEntry>
            <listEntry value="2">Cool</listEntry>
            <listEntry value="3">High Contrast</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.accentColor" title="Accent Color">
        <settingConfig type="list">
            <listEntry value="0">Teal</listEntry>
            <listEntry value="1">Orange</listEntry>
            <listEntry value="2">Blue</listEntry>
            <listEntry value="3">Purple</listEntry>
            <listEntry value="4">Red</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.showBattery" title="Battery">
        <settingConfig type="list">
            <listEntry value="0">Always</listEntry>
            <listEntry value="1">Below 50%</listEntry>
            <listEntry value="2">Below 20%</listEntry>
            <listEntry value="3">Off</listEntry>
        </settingConfig>
    </setting>
</settings>
